body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #00a000;
}

.hero {
    position: relative;
    height: 400px;
    text-align: center;
    color: white;
}

.hero {
    position: relative;
    height: 100vh; /* Use viewport height to fill the entire screen */
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s; /* Add a smooth transition */
    /* Add an overlay */
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the alpha value to control the overlay opacity */
    /* Add a brightness filter */
    filter: brightness(1.2); /* Adjust the value for desired brightness */
}


/* Add more styles as needed */
